/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 15px;
  background-color: #3A3042;
}

.container{
    margin: auto;
    width: 50%;
    border: 3px solid #FFE19C;
    padding: 10px;
  }

li {
  list-style: none;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.title{
  color: white;
  opacity: 0.9;
}

.bordered-list {
  border: 2px solid #FFE19C;
  width: 80%;
}

.restaurant-info{
  color: white;
}

.reviews{
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#new_review{
  color: white;
}

#new_restaurant{
  color: white;
}

.review-box{
  margin-top: 20px;
}
